<form class="ui form">
  <h1 class="ui center aligned header">
    Sign up
  </h1>
  <div class="ui grid">
    <div class="eight wide column">
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input type="password" name="confirm-password" placeholder="Confirm Password">
      </div>
      <button class="ui red fluid button" type="submit">Submit</button>
    </div>
    <div class="eight wide column">
      <h2 class="ui center aligned icon header">
        <i class="circular red coffee icon"></i>
        Sign up for chattyness
      </h2>
    </div>
  </div>
</form>