<a class="item">
  Chatroom
</a>
<a class="item">
  Messages
</a>
<a class="item">
  Friends
</a>
<div class="right menu">
  <a class="ui dropdown item">
    Account
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Log out</div>
      <div class="item">Log in</div>
      <div class="item">Sign up</div>
    </div>
  </a>
  <a class="ui primary button">
    Logout
  </a>
</div>